<!-- custom js -->
<script src="assets/controller/custom.js"></script>
<nav class="navbar navbar-salesconnect">
     <div class="collapse navbar-collapse" id="slide-navbar-collapse">
        <div class="container-fluid top-menu-wrap">
            <div class="container">
            <ul class="nav navbar-nav fwd-top-menu-language">
               <li class="active"><a href="javascript:void(0)">Indonesia <span class="sr-only">(current)</span></a></li>
               <li><a href="javascript:void(0)">English</a></li>
            </ul>
            <ul class="nav navbar-nav fwd-top-menu navbar-right">

               <li class="dropdown">
                 <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon-username"></span>Permata Putri <span class="caret"></span></a>
                 <ul class="dropdown-menu">

                   <li><a href="javascript:void(0)">Change Password</a></li>
                   <li><a href="javascript:void(0)">Profile Detail</a></li>
                 </ul>
               </li>
               <li><a href="#/login"><span class="icon-logout"></span> Logout</a></li>
            </ul>
          </div>
        </div>
        <div class="container-fluid menu-wrap">
            <div class="container fwd-main-menu-wrap">
              <ul class="nav navbar-nav fwd-main-menu navbar-right">
                  <li class="dropdown">
                     <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Quotation <span class="caret"></span></a>
                     <ul class="dropdown-menu fwd-dropdown">
                       <li><a href="#/quotation" >Quotation Lists</a></li>
                       <li><a href="#/new-quotation">Create New Quotation</a></li>
                       <li><a href="#/quotation-version">Quotation Version</a></li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Client<span class="caret"></span></a>
                     <ul class="dropdown-menu fwd-dropdown">
                       <li><a href="#/client-list">Client Lists</a></li>
                       <li><a href="#/create-new-client">Create New Clients</a></li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SME<span class="caret"></span></a>
                     <ul class="dropdown-menu fwd-dropdown">
                       <li><a href="#/sme">SME Lists</a></li>
                       <li><a href="#/create-new-sme">Create New SME</a></li>
                     </ul>
                  </li>
                   <li><a href="#/adjustment-request" >Adjustment Request</a></li>
                   <li><a href="#/print-report">Print Report</a></li>
                  
              </ul>
            </div>
        </div>
     </div>
     <!-- /.navbar-collapse -->
     <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="slide-collapse" data-target="#slide-navbar-collapse" aria-expanded="false">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a href="javascript:void(0)">
           <div class="logo-fwd-home"></div>
         </a>
       </div>
     </div>

   </div>
   <!-- /.container-fluid -->
 </nav>
 <div class="menu-overlay"> &nbsp;</div>
