<section class="header-wrap-page">
    <div class="bg-green-header-page"></div>
    <div class="bg-header"></div>
    <div class="container content-header-page">
      <h1>Profile Detail</h1>
      <div class="breadcrumbs">
      <ul>
        <li>
          <a href="#/home">
            Home
          </a>
        </li>
        <li><span class="icon-right"></span></li>
        <li>
          <p class="active">
            Profile Detail
          <p>
        </li>
      </ul>
      </div>
    </div>
  <div class="clearfix"></div>
</section>
<section class="bg-content bg-gray">
  <div class="content-wrap">
        <div class="container ">
            <div class="content-page min-height-500">
                <div class="col-md-4">
                    <div class="profile-wrap">
                      <div class="avatar"> </div>
                      <h2>Permata Putri</h2>
                      <h3>02928372882</h3>
                      <p>Active</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group profile-field">
                        <label class="fwd-custom-label">Full Name </label><br>
                        <label class="fwd-custom-label color-gray">Permata Putri</label>
                    </div>
                    <div class="form-group profile-field">
                        <label class="fwd-custom-label">Agent Code </label><br>
                        <label class="fwd-custom-label color-gray">02928372882</label>
                    </div>
                    <div class="form-group profile-field">
                        <label class="fwd-custom-label">Email </label><br>
                        <label class="fwd-custom-label color-gray">permata@fwd.co.id</label>
                    </div>
                    <div class="form-group profile-field">
                        <label class="fwd-custom-label">Date of Birth </label><br>
                        <label class="fwd-custom-label color-gray">12/12/1985</label>
                    </div>
                    <div class="form-group profile-field">
                        <label class="fwd-custom-label">Join Date </label><br>
                        <label class="fwd-custom-label color-gray">01/02/2017</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group profile-field">
                        <label class="fwd-custom-label">Status </label><br>
                        <label class="fwd-custom-label color-gray">Active</label>
                    </div>
                    <div class="form-group profile-field">
                        <label class="fwd-custom-label">Servicing Group </label><br>
                        <label class="fwd-custom-label color-gray">FWD Indonesia</label>
                    </div>
                    <div class="form-group profile-field">
                        <label class="fwd-custom-label">Supervisor Agent Code </label><br>
                        <label class="fwd-custom-label color-gray">029283727718</label>
                    </div>
                    <div class="form-group profile-field">
                        <label class="fwd-custom-label">Display Name </label><br>
                        <label class="fwd-custom-label color-gray">Permata Putri</label>
                    </div>
                    <div class="form-group profile-field">
                        <label class="fwd-custom-label">Total Team </label><br>
                        <label class="fwd-custom-label color-gray">20</label>
                    </div>
                </div>
                <div class="clearfix"></div>
                
               
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
  </div>


</section>
