<section class="header-wrap-page">
    <div class="bg-green-header-page"></div>
    <div class="bg-header"></div>
    <div class="container content-header-page">
      <h1>Quotation Version</h1>
      <div class="breadcrumbs">
      <ul>
        <li>
          <a href="#/home">
            Home
          </a>
        </li>
        <li><span class="icon-right"></span></li>
        <li>
          <p>
            Quotation
          <p>
        </li>
        <li><span class="icon-right"></span></li>
        <li>
          <p class="active">
             Quotation Version
          <p>
        </li>
      </ul>
      </div>
    </div>
  <div class="clearfix"></div>
</section>
<section class="bg-content bg-gray">
  <div class="content-wrap">
        <div class="container ">
            <div class="content-page">
                <div class="col-lg-6">
                    <div class="title-page">
                    <h1>Overview</h1>
                    </div>
                </div>
                <div class="col-lg-6 float-right">
                    <button class="btn-icon-text-orange float-right" [routerLink]="['/new-quotation']"><i class="fas fa-pencil-alt"></i><span>Edit</span></button>
                    <button class="btn-icon-text-orange float-right" [routerLink]="['/new-quotation']"><i class="far fa-file-alt"></i><span>View Detail</span></button>
                </div>
                <div class="clearfix"></div>
                <div class="border-bottom"></div>
                <div class="container no-padding">
                    <div class="col-lg-4">
                    <div class="form-group">
                        <label class="fwd-custom-label">Business Type </label><br>
                        <label class="fwd-custom-label color-gray">Group Medical</label>
                    </div>
                    </div>
                    <div class="col-lg-4">
                    <div class="form-group">
                        <label class="fwd-custom-label">Client Name </label><br>
                        <label class="fwd-custom-label color-gray">PT Cahaya Abadi</label>
                    </div>
                    </div>
                    <div class="col-lg-4">
                    <div class="form-group">
                        <label class="fwd-custom-label">Currency </label><br>
                        <label class="fwd-custom-label color-gray">Indonesia Rupiah (IDR)</label>
                    </div>
                    </div>
                    <div class="col-lg-4">
                    <div class="form-group">
                        <label class="fwd-custom-label">From </label><br>
                        <label class="fwd-custom-label color-gray">14/01/2016</label>
                    </div>
                    </div>
                    <div class="col-lg-4">
                    <div class="form-group">
                        <label class="fwd-custom-label">To </label><br>
                        <label class="fwd-custom-label color-gray">13/01/2017</label>
                    </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="content-page-2nd">
                              <div class="col-lg-3 no-padding side-wrap">
                                <button class="btn-add-version" ui-sref="quotation-add-version" ><span class="float-left ">Version</span><i class="fas fa-plus-circle"></i></button>
                                
                                <div class="sidebar overflow-y">
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">16. Negotiation </span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">15. Pending for Premium Adjustment</span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">14. Negotiation </span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">13. Negotiation </span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">12. Negotiation </span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">11. Pending for Premium Adjustment</span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">10. Negotiation </span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">9. Negotiation </span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">8. Negotiation </span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">7. Pending for Premium Adjustment</span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">6. Negotiation </span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">5. Negotiation </span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><span class="float-left">4. Negotiation </span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">3. Pending for Premium Adjustment</span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">2. Negotiation </span><br><span class="date-version"> 21/04/2017 </span></button>
                                  <button class="btn-version"[routerLink]="['#']" mat-button><span class="float-left">1. Negotiation </span><br><span class="date-version"> 21/04/2017 </span></button>
                                </div>
                              </div>
                              <div class="col-lg-9 no-padding  right-content border-left min-height-500">
                                <div class=" padding-20 ">
                                  <div class="col-lg-6">
                                    <div class="sub-title-page">
                                      <h1>Version 4 - Negotiation - 21/04/2017</h1>
                                    </div>
                                  </div>
                                  <div class="col-lg-6 float-right">
                                    <button class="btn-icon-text-orange float-right" [routerLink]="['#']"><i class="fas fa-pencil-alt"></i><span>Edit</span></button>
                                    <button class="btn-icon-text-orange float-right" [routerLink]="['#']"><i class="far fa-copy"></i><span>Copy</span></button>
                                    <button class="btn-icon-text-orange float-right" [routerLink]="['#']"><i class="fas fa-print"></i><span>Print</span></button>
                                  </div>
                                  <div class="clearfix"></div>
                                 <div class="border-bottom"></div>
                                 
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <label class="fwd-custom-label">Premium Payment Mode</label><br>
                                      <label class="fwd-custom-label color-gray border-bottom-padding-5">Annually</label>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <label class="fwd-custom-label">Buffer Limit (OL) </label><br>
                                      <label class="fwd-custom-label color-gray border-bottom-padding-5">100,000,000</label>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <label class="fwd-custom-label">Spouse Max. Age </label><br>
                                      <label class="fwd-custom-label color-gray border-bottom-padding-5">69 years old</label>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <label class="fwd-custom-label">Employee Max. Age</label><br>
                                      <label class="fwd-custom-label color-gray border-bottom-padding-5">69 years old</label>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <label class="fwd-custom-label">Child Max. Age </label><br>
                                      <label class="fwd-custom-label color-gray border-bottom-padding-5">17 years old</label>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <label class="fwd-custom-label">Maternity Max. Age </label><br>
                                      <label class="fwd-custom-label color-gray border-bottom-padding-5">49 years old</label>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <label class="fwd-custom-label">Number of Child</label><br>
                                      <label class="fwd-custom-label color-gray border-bottom-padding-5">3</label>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <label class="fwd-custom-label">Impatient TPA (Medical Advisory) </label><br>
                                      <label class="fwd-custom-label color-gray border-bottom-padding-5">AdMedika</label>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <label class="fwd-custom-label">Outpatient TPA (Medical Advisory)</label><br>
                                      <label class="fwd-custom-label color-gray border-bottom-padding-5">AdMedika</label>
                                    </div>
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <label class="fwd-custom-label">Quotation Details </label><br>
                                      <label class="fwd-custom-label color-gray border-bottom-padding-5">
                                          - Quotation Plan<br>
                                         - Quotation Premium (IDR 203,898,000) *</label>
                                    </div>
                                  </div>
                                  <div class="clearfix"></div>
                                    <div class="border-bottom"></div>
                                    <div class="col-sm-6">
                                    <span class="color-red">*</span><span> Last updated : 21/04/2017 15:50</span>
                                    </div>
                                    <div class="col-sm-6">
                                    <div class="float-sm-right">
                                        <button class="btn-outline-gray padding-lr-40">Cancel</button>
                                        <button class="btn-orange margin-left-10 padding-lr-40">Submit</button>
                                    </div>
                                </div>
                                </div>
                               
                              </div>
                              <div class="clearfix"></div>
            </div>
        </div>
    </div>
  </div>


</section>
